@media (max-width: 520px) {
  body {
    min-width: 320px;
  }

  .form-container {
    @include display(flex);
    @include flex-direction(column);
    @include align-items(center);

    .letter-block {
      position: static;
      margin-bottom: 40px;
    }

    form {
      &:before {
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid #eeeff1;
        left: 135px;
        top: -20px;
      }
    }
  }
}