@import "compass/reset";
@import "variables";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../bower_components/open-sans/scss/open-sans";

html {
  min-height: 100vh;
}

body {
  @include display(flex);
  @include align-items(center);
  @include justify-content(center);
  min-height: 100vh;
  font-size: 1.1em;
  background-color: #6bba9b;
  font-family: "Open Sans";
}

.form-container {
  padding: 20px;
  position: relative;

  .letter-block {
    position: absolute;
    left: -75px;
    top: 30px;
    color: #fff;

    img {
      display: block;
      margin-bottom: 10px;
    }

    div {
      font-weight: bold;
    }
  }

  form {
    background-color: #eeeff1;
    border-radius: 5px;
    display: block;
    position: relative;
    padding: 20px 20px 0;

    &:before {
      content: '';
      display: block;
      position: absolute;
      width: 0;
      height: 0;
      border-top: 10px solid transparent;
      border-right: 10px solid #eeeff1;
      border-bottom: 10px solid transparent;
      left: -10px;
      top: 30px
    }

    .input-container {
      position: relative;

      input {
        display: block;
        padding: 0 30px 0 10px;
        line-height: 40px;
        border-radius: 5px;
        border: none;
        width: 250px;
        margin-bottom: 10px;
      }

      i {
        display: block;
        position: absolute;
        right: 10px;
        top: 14px;
        color: #bec4c6;
      }
    }

    button {
      display: block;
      width: 250px;
      padding: 8px 12px;
      text-align: center;

      &.btn-success:focus {
        outline: none;
      }

      span {
        position: relative;

        svg {
          display: none;
          position: absolute;
          vertical-align: middle;
          left: -25px;
        }
      }
    }

    .forgot-password-container {
      padding: 10px 0;
      text-align: center;

      a {
        color: #aaa;
      }
    }
  }
}

@import "responsive";